
html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /*background-color: #efefef;*/
}

.start {
    width: 100%;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 10px 25px;
    border: solid 1px #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.navbar{
    height: 100px;
    background-color: #ffffff;
}

.logo-image{
    height: 95%;
    margin: 5px;
    /*padding: 0;*/
}

.logo-text{
    /*margin: 0;*/
    /*padding: 0;*/
    color: #000000;
    /*font-size: 40px;*/
}

.login_container{
    width: 420px;
    padding: 0;
    margin: 10px auto 0 auto;
}

.dark-button{
    background-color: #404040;
    color: white;
    border: none;
    border-radius: 5px;
}

.new-todo{
    font-size: 30px;
    width: 420px;
    padding: 0;
    margin: 10px auto 10px auto;
}

.todo-item{
    height: 80px;
    width: 700px;
    margin: 5px auto 5px auto;
    border-radius: 5px;
    padding: 0;
}

.item-button{
    height: 100%;
    width: 90px;
    font-size: 20px;
    margin: 0 0 0 1px;
    padding: 0;
    border-radius: 5px;
}

.todo-text-box{
    background-color: transparent;
    color: white;
    font-size: 20px;
    border: none;
    outline: none;
    width: 100%;
    margin: 0;
    padding: 0;
    flex-grow: 1;
}

.item-button-container{
    margin: 0;
    padding: 0;
    width: auto;
    flex-shrink: 0;
}

.home-navbar-button{
    width: 80px;
}

.switch-selector-container {
    text-align: center;
}

.switch-selector-container div {
    display: flex;
    justify-content: center;
    align-items: center;
}